body {
    overflow-x: hidden;
}

#video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-height: 100%;
    min-width: 100%;
    
    z-index: -1;
    filter: blur(.5rem) brightness(.9) contrast(1.2);
}

#title {
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
    margin-top: 10rem;
    color: #ffffff;
}

#footer {
    position: fixed;
    bottom: 0;
    width: auto;
    padding: .5rem 1rem;
    background-color: #0e6abc;
    font-size: 1.2rem;
    color: white;
    text-align: center;
    margin: 1rem 1rem 1rem 1rem
}