body {
    overflow-x: hidden;
}

#video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-height: 100%;
    min-width: 100%;
    
    z-index: -1;
    filter: blur(6px) brightness(0.8) saturate(0.8) contrast(1.2);
}

#title {
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    line-height: normal;
}

#description {
    color: #fff;
    font-size: 1.5rem;
    text-wrap: pretty;
    max-width: 40%;
    line-height: 1.8rem;
}

#footer {
    position: fixed;
    bottom: 0;
    width: auto;
    padding: .5rem 1rem;
    background-color: #0e6abc;
    font-size: 1.2rem;
    color: white;
    text-align: center;
    margin: 1rem 1rem 1rem 1rem
}