@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);

body {
    font-family: "Raleway";
    font-weight: bold;
    line-height: 1.2rem;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    overflow-x: hidden;
}

/* Navbar */
#navbar {  
    display: flex;
    position: absolute  ;
    top: 0;
    width: 100%;
    max-height: calc(100vh - 3.25rem);
    padding: .5rem 1rem;
    gap: 1rem;

    background-color: #0e6abc;
    font-size: 1.2rem;
    color: white;

    transition: top 1s;
}

.nav-buttons {
    display: flex;
    gap: 2rem;
    align-self: center;
    margin-left: 7rem;
}

.nav-buttons a {
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;

    transition-duration: 100ms;
}

.nav-buttons a.active, .nav-buttons a:hover {
    outline: 3px solid #d9edff;
    outline-offset: 5px;
    border-radius: 2px;
}

/* General */
.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    z-index: -1;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.backdrop-blur {
    backdrop-filter: blur(10px);
}

.rounded {
    border-radius: 8px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.icon128 {
    width: 128px;
    height: 128px;
}

#footer {
    position: fixed;
    bottom: 0;
    width: auto;
    padding: .5rem 1rem;
    background-color: #0e6abc;
    font-size: 1.2rem;
    color: white;
    text-align: center;
    margin: 1rem 1rem 1rem 1rem
}

.nav-title {
    text-wrap: wrap;
    inline-size: 5rem;
}

.video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-height: 100%;
    min-width: 100%;
    
    z-index: -1;
    filter: blur(6px) brightness(0.8) saturate(0.8) contrast(1.2);
}

.title {
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    line-height: normal;
}

.description {
    color: #fff;
    font-size: 1.5rem;
    text-wrap: pretty;
    max-width: 40%;
    line-height: 1.8rem;
}

/* Specific */
#metro-map {
    width: 80dvw;
}
